<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ticket.user_id %>
</p>

<p>
  <strong>Ticket number:</strong>
  <%= @ticket.ticket_number %>
</p>

<p>
  <strong>Complaint photo:</strong>
  <%= @ticket.complaint_photo %>
</p>

<p>
  <strong>Complaint:</strong>
  <%= @ticket.complaint %>
</p>

<p>
  <strong>Date time created:</strong>
  <%= @ticket.date_time_created %>
</p>

<p>
  <strong>Reliability score:</strong>
  <%= @ticket.reliability_score %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
