<%= form_with(model: complaint_type, local: true) do |form| %>
  <% if complaint_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complaint_type.errors.count, "error") %> prohibited this complaint_type from being saved:</h2>

      <ul>
      <% complaint_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :complaint_type_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
